gateway.http.host=0.0.0.0
gateway.http.port=8080
gateway.read.requestChannel={{ query_channel }}
gateway.read.responseChannel=aeron:udp?endpoint={{ host }}:0
gateway.read.requestStreamId=300
gateway.read.responseStreamId=301
gateway.write.clientId=42
gateway.write.ingressEndpoints={{ ingress_endpoints }}
gateway.write.egressChannel=aeron:udp?endpoint={{ host }}:0
gateway.admin.uids=1,2,811
gateway.symbols={{ gateway_symbols }}
gateway.currencies={{ gateway_currencies }}
gateway.marketPump.intervalMs=0
